@media screen and (min-width: 768px){
    .navegacao {
        position: absolute;
        top: 110px;
        right: 0;
    }
}

@media screen and (min-width: 1024px){
    .navegacao {
        position: absolute;
        top: 110px;
        right: 0;
    }
}