.sobre__titulo {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1em;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .sobre__titulo {
        font-size: 2em;
        margin: 0 0 2em;
    }
}